Requirements

*All numbers refer to ET's requirements document v11 (5/7/19)

1f.2 Hands (2) Multiple hands in one word [Developers require examples for testing]

1g Printing a section of one transcription within another. [MM to clarify, probably "could have"]

1h Headword data search [Too big for current phase, possibly pasrt of future development - to be clarified by project director.]

1j Gaps (missing folia). ["could have" MM to look at this]

2a <choice> elements ["must have"]

Done

1a Abbreviation/Ligature highlighting
1b Headwords
1c Non-Gaelic words
1d Misc - Developers not aware of any spedicfic problems. We need examples of browser specific issues.
1e.1 Additions(1) type="insertion"
1e.2 Additions(2) type="gloss"
1e.3 Additions(3) items other than words inserted
1f.1 Hands(1) Hand info in RHS
1f.3 Hands(3) Names
1f.4 Hands(4) A change of hand
1i Page images
1k POS Details