/*
This stylesheet is called by viewTranscription.php
It contains styles relevant to the page as a whole, and to both MS views.
*/

.hwCount, .implode, .explode {
  display: none;
}

.syntagm, .punct, .indexHeadword {
  font-family: "Times New Roman", serif;
}

.chunk {
  cursor: pointer;
}

#rhs {
  font-size: small;
}


