/*
This stylesheet is called by viewTranscription.php
It contains styles relevant to the page as a whole, and to both MS views.
*/

.hwCount, .implode, .explode {
  display: none;
}

.chunk, .syntagm, .punct, .indexHeadword {
  font-family: "Times New Roman", serif;
}

.pageAnchor, .lineBreak {
  font-family: "Helvetica Neue", sans-serif;
}

.chunk {
  cursor: pointer;
}

#rhs {
  font-size: small;
}

.addComment, .viewComment {
  display: none;
}

ul.rhs {
  margin-left: 10px; 
  padding-left: 10px;
}

