#commentForm {
  display: none;
  padding: 5px;
  text-align: center;
  width: 30em;
  height: 27em;
  background: white;
  border: 2px solid black;
}

.commentsList {
  list-style-type: none;
}

.commentsList > li {
  padding: 5px;
}

.viewComment {
  display: none;
  font-size: x-small;
}

.addComment {
  display: none;
  font-size: x-small;
}

#commentsList {
  display: none;
}

.greyedOut {
  color: #ccc;
}

