/* 
This stylesheet is called by viewTranscription.php
It contains styles relevant to just the diplomatic view.
*/

.lineBreak::after {
  content: attr(data-number) ". ";
  color: gray;
  font-size: x-small;
}

.expansion {
  font-style: italic;
}

.insertion, .gloss {
  font-size: small;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.gloss::before {
  content: "[gl.]";
}

.deletion {
  text-decoration: line-through;
  text-decoration-style: double;
}

.gapDamage {
  color: gray;
}

.unclearDamage {
  color: gray;
}

.unclearTextObscure, .unclearChar {
  color: black;
  background-color: lightgray;
}

.marginalNoteLink {
  font-size: small;
  text-decoration: line-through;
  vertical-align: sub;
}

.marginalNote {
  margin: -15px 0 5px 20px;
  display: none;
}

.corr, .supplied {
  display: none; /*  careful with how this interacts with headword search! */
}


