html {
  height: 100%;
}

body {
  font-family: Helvetica; 
  font-size: 12pt;
  width: 90%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
  text-decoration: inherit;
}

#left-panel {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}

#right-panel {
  height: 100%;
  overflow: auto;
  padding: 20px;
}

.chunk {
  cursor: pointer;
  background-color: inherit;
  text-decoration: inherit;
  color: inherit;
}

.word, .name {
  background-color: inherit;
  text-decoration: inherit;
  color: inherit;
}

.glyph {
  /*  font-style: italic; */
  color: green;  
}

#data {display: none;}

.lineBreak::after {
  content: attr(data-number) ". ";
  color: gray;
  font-size: x-small;
  /*  content: attr(data-number) ". " ;  disny work */ 
}

.unclear {
  color: gray;
}

.deletion {
  vertical-align: sub;
  color: gray;
  font-size: small;
}

.addition {
  vertical-align: super;  
  font-size: small;
  color: gray;
}

.supplied {
  color: green;
}

/*
  Comments
 */
.commentForm {
  display: none;
}

