html {
  height: 100%;
}

body {
  font-family: Helvetica; 
  font-size: 12pt;
  width: 90%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  color: black;
  text-decoration: inherit;
}

#left-panel {
  float: left;
  width: 60%;
  height: 100%;
  overflow: auto;
}

#right-panel {
  height: 100%;
  overflow: auto;
  padding: 20px;
}

#headerInformation, #diplomaticTranscription, #semiDiplomaticTranscription {
  display: none;
}

a {
  font-family: Helvetica;
}

a:link, a:visited {
  color: blue;
  background-color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: blue;
  text-decoration: none;
}

.chunk {
  cursor: pointer;
  background-color: inherit;
  text-decoration: inherit;
  color: inherit;
  font-family: "Times New Roman", serif;
}

.syntagm {
  background-color: inherit;
  text-decoration: inherit;
  color: inherit;
}

.expansion {
  font-style: italic;
}

.ligature {
  color: orange;
}

#data {display: none;}

.lineBreak::after {
  content: attr(data-number) ". ";
  color: gray;
  font-size: x-small;
  font-family: Helvetica;
}

.unclear {
  color: gray;
}

.deletion {
  text-decoration: line-through;
  text-decoration-style: double;
  color: purple;
}

.addition {
  color: blue;
}

.above {
  vertical-align: super;
}

.below {
  vertical-align: sub;
}

.correction {
  color:red;
}

.suppliedDiplo {
  display: none;
}

.suppliedSemi {
  color: brown;;
}

.damagedDiplo {
  color: black;
  background-color: black;
}

.damagedSemi {
  color: brown;
}

.obscureTextDiplo {
  color: black;
  background-color: gray;
}

.obscureTextSemi {
  color: brown;
}

.marginalNoteLink {
  font-size: small;
  text-decoration: line-through;
  vertical-align: sub;
}

.marginalNote {
  margin: -15px 0 5px 20px;
  display: none;
}

/*
  Comments
 */
.commentForm {
  display: none;
  padding: 5px;
  text-align: center;
  width: 25em;
  height: 12em;
  background: white;
  border: 2px solid black;
}

.commentsList {
  list-style-type: none;
}

.commentsList > li {
  padding: 5px;
}

.viewComment {
  display: none;
  font-size: x-small;
}

.addComment {
  font-size: x-small;
}

#commentsList {
  display: none;
}

.greyedOut {
  color: #ccc;
}
